<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
	<style>
		a:link { color:red; text-decoration:underline; } 
		a:visited { color:blue; text-decoration:none; } 
		a:hover { color:red; text-decoration:none; } 
		a:active { color:#FFFFFF; text-decoration:none; } 
		#highlight > li{list-style-type:none;padding-bottom: 5px;margin-left: -30px;}
		#attend > li{list-style-type:none;padding-bottom: 5px;margin-left: -30px;}
		#partner > li {list-style:none;}
		#partner > li > a > img {margin-left:250px;}
	</style>
<head>
	<title>
		WIZ | Plastic
	</title>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="margin-top:1px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:53px;background-color:#222222;"><a href="http://www.wiz-biz.com/">Home</a></li>
						<li style="width:104px;background-color:#222222;" class="current_page_item"><a href="/event">About Event</a></li>
						<li style="width:111px;background-color:#222222;"><a href="/agenda">Event Agenda</a></li>
						<li style="width:128px;background-color:#222222;"><a href="/speaker">Speaker Profile</a></li>
						<li style="width:102px;background-color:#222222;"><a href="/register">Register Me</a></li>
						<li style="width:85px;background-color:#222222;"><a href="/sponsor">Workshop</a></li>
					</ul>
				</div>
			</div>

			<div id="divcontent" class="content" style="width:1003px;">
				<div style="float:left;width:600px;text-align:left;overflow:hidden;padding-left:5px;"> 
					<span style="font-size:14px;font-weight:bold;color:red;text-align:left;">
						Plastic Recycling Summit 2015,December 3-4,Bangkok, Thailand
					</span>
				</div>
				
				<div style="float:left;width:40%;padding-left:5px;padding-top:5px;">
					<h3 style="font-size:14px;">2015 Plastic Recycling Summit</h3>
					<p>
						From 2014, the price of a barrel of oil has fallen more than 50%, the fall in oil prices has dragged down the price of virgin plastic, erasing recyclers’advantage.
					</p>
					<p>
						The cost of producing new plastic closely tracks the ups and downs of global oil prices.
						Many manufacturers prefer virgin plastic because its chemical composition can be precisely specified. That kind of plastic usually is more expensive than recycled plastic.
					</p>
					<p>
						China is the leading importing country for waste plastics. However, from 2013,since the Green Fence, China government limited the import of scrap plastics, which led the fall of the import volume of plastic waste.
					</p>
					<p>
						Meanwhile, the Thai market for recycled plastics market is forecast to expand 22.7 percent in 2015 to reach 28.9 billion Thai baht. Behind the growth is increasing demand for recycled resin from the toy,furniture, auto parts and electronics industries.
					</p>
					<p>
						On December 3-4, WIZ Business gathers the leading players in plastic recycling industry in Bangkok to discuss the recycling market,find solutions, and provide a platform to communicate and network.
					</p>
				</div>
				<div style="float:left;width:26%;margin-left:12px;padding-top:5px;">
					<h3 style="font-size:14px;margin-left:20px;">Highlights 2015</h3>
					<ul id="highlight">
						<li>- Development and growth of plastic recycling market in Asia</li>
						<li>- Trading flows from US, Europe to Asia and among Asian countries
						</li>
						<li>- Innovation on plastic recycling technologies</li>
						<li>- New application on recycled plastics</li>
						<li>- Legislation on plastic waste trading</li>
						<li>- Regions focus: China, Thailand, Malaysia, Vietnam</li>
					</ul>
				</div>
				<div style="float:left;width:30%;margin-left:12px;padding-top:5px;">
					<h3 style="font-size:14px;margin-left:20px;">Who Will Attend 2015</h3>
					<ul id="attend">
						<li>- Resins Producers</li>
						<li>- Plastic collectors and reclaimers</li>
						<li>- Consumers of recycled resin</li>
						<li>- Government recycling officials</li>
						<li>- Equipment producers</li>
						<li>- Packaging and label designers and producers</li>
						<li>- Bag and film manufactures</li>
						<li>- Environmental organizations</li>
						<li>- Scrap plastic product makers</li>
						<li>- Resin brokers</li>
						<li>- Clean-tech investors</li>
						<li>- Other investors</li>
					</ul>
				</div>

				<div>
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>