<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
<head>
	<title>
		WIZ | Plastic
	</title>
	<style type="text/css">
	.topic{margin-left:40px;list-style-type:none;}
	.topic > li {margin-bottom:5px;}
	h4{border-top:1px solid gray;padding-top: 5px;}
	</style>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="margin-top:1px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:53px;background-color:#222222;">
							<a href="http://www.wiz-biz.com/">Home</a>
						</li>
						<li style="width:104px;background-color:#222222;">
							<a href="/event">About Event</a>
						</li>
						<li style="width:111px;background-color:#222222;">
							<a href="/agenda">Event Agenda</a>
						</li>
						<li style="width:128px;background-color:#222222;" class="current_page_item">
							<a href="/speaker">Speaker Profile</a>
						</li>
						<li style="width:102px;background-color:#222222;">
							<a href="/register">Register Me</a>
						</li>
						<li style="width:85px;background-color:#222222;">
							<a href="/sponsor">Sponsor</a>
						</li>
					</ul>
				</div>
			</div>
			
			<div id="divcontent" style="width:1003px;background-color:#f5f4f3;margin-top:20px;">
				<div>
					<h3 align="center" style="font-size:14px;align:center;">Call For Papers</h3>
					<p style="margin-left:80px;margin-right:80px;">
						Wiz Biz is pleased to announce that the 2015 Plastic Recycling Summit will be held in Bangkok,Thailand from December 3 to 4. In preparation for the event, we would like to issue the following call for papers. As the conference language will be English, the text of the abstracts should be submitted in English only. Outline for presentations can be submitted via e-mail to <span style="font-weight:bold;">sevenyang@wiz-biz.com</span> by October 23rd, 2015. 
						The presentations are to focus on all related topics on recycling plastic materials, such as :
					</p>
					<h4 style="margin-left:80px;">INDUSTRY ISSUES</h4>
					<ul class="topic">
						<li>* Economic focus: how to cope with price volatility in the virgin market</li>
						<li>* Achieving cohesion – bringing the recycling industry together</li>
						<li>* What is the place of energy recovery in waste management?</li>
						<li>* Significant pressure on plastic recycling suppliers</li>
					</ul>
					<h4 style="margin-left:80px;">DEMAND FOCUS</h4>
					<ul class="topic">
						<li>* The fall in oil price caused the crisis for China plastic recycling industry, and the industry need upgrade and transition</li>
						<li>* India government quietly banned the import of PET bottles, plastic scrap and a whole host of waste items, what will happen in Indian plastic market?</li>
						<li>* Development of Thailand scrap plastic market</li>
						<li>* New application of scrap plastics</li>
					</ul>
					<h4 style="margin-left:80px;">THE RECYCLING PROCESS</h4>
					<ul class="topic">
						<li>* Getting consumers to collect more; countries learning from each other</li>
						<li>* Sorting – economies of scale; the financial advantages of using larger sorting facilities</li>
						<li>* Finding markets for recycled materials – getting them into higher value products</li>
					</ul>
					<h4 style="margin-left:80px;">REGULATORY FOCUS</h4>
					<ul class="topic">
						<li>* The impact of the prospective legislation on the sector</li>
						<li>* Looking to the future; voluntary agreements vs. legislation</li>
						<li>* Eco-efficiency of plastic waste recycling</li>
					</ul>
					<h4 style="margin-left:80px;">MATERIALS FOCUS SESSIONS</h4>
					<ul class="topic">
						<li>* PET</li>
						<li>* PVC</li>
						<li>* HDPE</li>
						<li>* LDPE</li>
						<li>* Mixed Plastics</li>
					</ul>
				</div>
				<!--
				<div align="center">
					<img src="/images/speaker.jpg"></img>
				</div>
				-->
			</div>
			
		</div>

	</div>
	
 
</body>

</html>
